
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #5A189A;
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    color: #333;
    font-size: 1.5em;
}

form, .services, .promotions, .gallery {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

p {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.services ul, .promotions p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services li, .promotions p {
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}